nav {
    background-color: #f6f7f9;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
ngx-avatar{
    text-align: center;
    border-radius: 100%;
    text-transform: uppercase;
    color: #fff;
    background-color: rgb(44, 62, 80);
    font: 32px / 80px Helvetica, Arial, sans-serif;
    object-fit: cover;
}

ul {
    padding: 0;
    margin: 0;
}

ul li,
a {
    height: 40px;
    padding: 10px;
    margin: 8px 3px;
    color: #000;
    display: flex;
    align-items: center;
}

ul li p {
    padding: 0 10px;
    margin: 0;
    transition: all 20s;
    white-space: nowrap;
    color: #f05c07;

}

ul li i {
    min-width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menuList {
    width: 200px;
}

.likeUl {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sideNav {
    height: 100%;
    width: 60px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #030428;
    overflow-x: hidden;
    transition: 0.5s ease;
    padding-top: 60px;
    
}
h6{
    color: #fff;
}
i {
    color: #7c828a;
}

main {

    margin-left: 60px;
    transition: margin-left 0.5s ease;
    height: 100vh;
}

.show {
    display: block;
    opacity: 1;
    transition: 0.5s ease;
}

.none {
    display: none;
    opacity: 0;
    transition: 0.5s ease;
}

@media (max-width: 500px) {
    .sideNav {
        width: 0;
    }

    main {
        margin-left: 0;
    }
}

.active {
    background-color: #ffffff;
    border-radius: 7px;
    transition: background-color 0.3s ease-in;
    box-shadow: 0px 6px 89px -12px #ffffff;
}

.loggerName{
    padding-left: 10px;
    margin: 1rem;
    
}
.notify{
    border-radius: 10px;
}
.iconSpan{
    padding: 2px 6px 2px 6px;
    font-size: x-small;
}
p{
    font-family: sans-serif;
}