<ng-container *ngIf="state=='forgotPassword'">
  <section class="vh-100">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-xl-10">
          <div class="card" style="border-radius: 1rem">
            <div class="row g-0">
              <div class="col-md-6 col-lg-5" style="align-items: center; display: flex">
                <img src="assets/login.png" class="image">
              </div>
              <div class="col-md-6 col-lg-7 d-flex align-items-center">
                <div class="card-body p-4 p-lg-5 text-black">
                  <h1 class="mt-1 mb-3">Forgot Password</h1>
                  <p class="fs-6 text-muted mb-5">
                    Enter your email to reset your password
                  </p>
                  <div class="form-floating mb-3">
                    <input type="email" [(ngModel)]="ForgotMailId" class="form-control" id="floatingInput"
                      placeholder="name@example.com">
                    <label for="floatingInput">Email address</label>
                    <span class="text-danger" *ngIf="!addUser.controls['oldPassword'].valid && 
                    addUser.controls['oldPassword']?.touched"> <b>Old Password</b> is required *</span>
                  </div>
                  <div class="mt-3">
                    <button (click)="submitForgotPassword()" class="btn btn-primary">Reset My Password</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</ng-container>
<!-- change password -->
<ng-container *ngIf="state=='ChangePassword'">
  <section class="vh-100">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-xl-10">
          <div class="card" style="border-radius: 1rem">
            <div class="row g-0">
              <div class="col-md-6 col-lg-5" style="align-items: center; display: flex">
                <img src="assets/login.png" class="image">
              </div>
              <div class="col-md-6 col-lg-7 d-flex align-items-center">
                <div class="card-body p-4 p-lg-5 text-black">
                  <h1 class="mt-1 mb-4">Change Password</h1>
                  <form [formGroup]="addUser" (ngSubmit)="submitChangedPassword(addUser.value)">
                    <div class="mb-3">
                      <label class="form-label">Old Password</label>
                      <input type="password" class="form-control mb-1" formControlName="oldPassword">
                    </div>
                    <div class="mb-3">
                      <label class="form-label">New Password</label>
                      <input type="password" class="form-control mb-1" formControlName="newPassword">
                    </div>
                    <div class="mb-3">
                      <label class="form-label">Re-Enter New Password</label>
                      <input type="password" class="form-control mb-1" formControlName="reNewPassword">
                    </div>
                    <div class="mt-3">
                      <button type="submit" class="btn btn-primary" [disabled]="thisFormValid()">Submit</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</ng-container>
<ng-container *ngIf="state=='login'">
  <section class="vh-100">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-xl-10">
          <div class="card" style="border-radius: 1rem">
            <div class="row g-0">
              <div class="col-md-6 col-lg-5" style="align-items: center; display: flex">
                <img src="assets/login.png" class="image">
              </div>
              <div class="col-md-6 col-lg-7 d-flex align-items-center">
                <div class="card-body p-4 p-lg-5 text-black">
                  <form [formGroup]="dologin" (ngSubmit)="getCredentails(dologin.value)">
                    <div class="d-flex align-items-center mb-3 pb-1">
                      <i class="fa-solid fa-crop-simple fa-2x me-3" style="color: #ff6219"></i>
                      <span class="h1 mb-0" style="color: #79b2ff">Task </span> <span class="h1 mb-0"> Planner</span>
                    </div>
                    <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px">
                      Sign into your account
                    </h5>

                    <label class="form-label mt-2" for="email-address">Email address</label>
                    <input type="email" formControlName="emailId" id="email-address"
                      class="form-control form-control-md" />

                    <label class="form-label mt-2" for="password">Password</label>
                    <input type="password" formControlName="password" id="password"
                      class="form-control form-control-md" />
                    <div class="d-flex justify-content-between align-items-center pt-1 mt-4">
                      <div class="form-check">
                        <a  class="link-primary" style="float:right;" (click)="forgotPassword()">Forgot
                          password?</a>
                      </div>
                      <button class="btn btn-primary w-25" type="submit" (keyup.enter)="getCredentails(dologin.value)"
                        [disabled]="thisFormValid()" [ngClass]="{ 'is-invalid': submitted}">
                        Login
                      </button>

                    </div>

                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</ng-container>