
.our-team {
  padding: 30px 0 40px;
  margin-bottom: 30px;
  background-color: #f7f5ec;
  text-align: center;
  overflow: hidden;
  position: relative;
  height: 280px;
  width: 200px;
}

.our-team .picture {
  display: inline-block;
  height: 130px;
  width: 130px;
  margin-bottom: 15px;
  z-index: 1;
  position: relative;
}

.our-team .picture::before {
  content: "";
  width: 100%;
  height: 0;
  border-radius: 50%;
  background-color: #030428;
  position: absolute;
  bottom: 135%;
  right: 0;
  left: 0;
  opacity: 0.9;
  transform: scale(3);
  transition: all 0.3s linear 0s;
}

.our-team:hover .picture::before {
  height: 100%;
}

.our-team .picture::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #030428;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.our-team .picture img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  transform: scale(1);
  transition: all 0.9s ease 0s;
}

.our-team:hover .picture img {
  box-shadow: 0 0 0 14px #f7f5ec;
  transform: scale(0.7);
}

.our-team .title {
  display: block;
  font-size: 15px;
  color: #4e5052;
  text-transform: capitalize;
}

.our-team .social {
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #030428;
  ;
  position: absolute;
  bottom: -100px;
  left: 0;
  transition: all 0.5s ease 0s;
}

.our-team:hover .social {
  bottom: 0;
}

.our-team .social li {
  display: inline-block;
  padding-left: 10px;
}

.our-team .social li a {
  display: block;
  padding: 12px;
  font-size: 17px;
  color: white;
  transition: all 0.3s ease 0s;
  text-decoration: none;
}

.our-team .social li a:hover {
  color: #030428;
  background-color: #f7f5ec;
}
h3{
  text-align: center ;
  color: #030428;
  font-weight:700 ;
 
  
}
h5{
  font-family: sans-serif;
  text-transform: capitalize;
}
h6{
  font-family: 'Times New Roman', Times, serif;
}
label{
  color:#f05c07;
}

@media (max-width: 500px) {

  .our-team {

    margin-left: 4rem;
  }
}

@media (width:1024px) {

  .col-lg-3 {
    width: 31%;
  }
}

@media (max-width:280px) {

  .our-team {

    margin-left: 0rem;
  }
}

@media (width:820px){
  .row {

    --bs-gutter-x: 4.5rem;
  }
}


@media (min-width: 768px){
.col-md-4 {
    flex: 0 0 auto;
    width: 0;
    margin-left: 3rem;
    margin-right: 12rem;
}
}
@media(width:540px) {
  
  .col-12
  {
    flex: 0 0 auto;
    width: 45%;
  }

}
